<li class="nav-item active">
    <img src='/stylesheets/user.png' height="40px"  class="nav-link text-uppercase font-weight-bold" style="margin-left: 20px">
</li>
<p href="#" style="margin-top: 8px; margin-right: 20px; color: white;"><%= name %></p>
<li class="nav-item active"><a href="/users/logout" class="nav-link text-uppercase font-weight-bold">Logout</a></li>
