<link rel="stylesheet" href="/stylesheets/home.css">
<!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold">Transparent Nav</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/users/home" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="/users/booking" class="nav-link text-uppercase font-weight-bold">Book an Appointment</a></li>
                    <li class="nav-item"><a href="/users/register" class="nav-link text-uppercase font-weight-bold">Sign Up</a></li>
                    <li class="nav-item"><a href="/users/login" class="nav-link text-uppercase font-weight-bold">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<!-- For demo purpose -->
<div class="container1">
    <div id="box1">
        <button><a href="/users/register">Start Here</a></button>
    </div>
</div>

<script src="/stylesheets/home.js"></script>

